[submodule "firmware/libDaisy"]
	path = firmware/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
	ignore = dirty
[submodule "firmware/DaisySP"]
	path = firmware/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
	ignore = dirty
[submodule "firmware/igb_sdk"]
	path = firmware/igb_sdk
	url = git@github.com:centrevillage/igb_sdk.git
	ignore = dirty
